# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.env.local
env/
venv/
ENV/
*.egg-info/
.eggs/

# Django-specific ignores
db.sqlite3
*.sqlite3
/media/
staticfiles/
static/
*.log

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Ignore secrets
*.env
local_settings.py

# Node.js related
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# MacOS related ignores
.DS_Store

# Windows related ignores
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains IDEs (PyCharm)
.idea/

# VSCode settings
.vscode/

# IDE specific ignores
*.swp
*.swo
*~

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.coverage
.nox/

# Test artifacts
*.test
*.pytest_cache/
*.mypy_cache/
.cache/
nosetests.xml
coverage.xml
*.mocha_cache/
junit-*.xml
htmlcov/

# Django migrations
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/*migration_name_here*.pyc

# Sphinx documentation
docs/_build/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
